<%= stylesheet_link_tag('header')%>

<nav class="navbar navbar-expand-lg" id='header'>
  <div class="container-fluid" id='header-flex'>
    <div><a class="navbar-brand" href="#">App Dashboard</a></div>
    <a class="nav-link" href="#">+ Add more to home</a>
    <%# add dropdown menu? must include popper tag from bootstrap %>
    </div>
  </div>
</nav>
<%# need security login to associate apps with a user. that can be done second.
need a sortable list of apps lets do this today. associate users tomorrow.
must build a list of other apps users can add to their list of apps. %>