<%= stylesheet_link_tag('header')%>

<nav class="navbar navbar-expand-lg" id='header'>
  <div class="container-fluid" id='header-flex'>
    <div><%= link_to 'App Dashboard',
        appitems_path, class:"navbar-brand header" %></div>
      <% if user_signed_in?%> 
     <div class='header-button-box'>
       <%= link_to '+ Add more to home',
          new_apps_path, class:"nav-link" %>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class:'sign-out-button' %> 
     </div>
    <%end%>
    </div>
  </div>
</nav>
