#appitems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}
.app-item-box{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:20vw;
    height: 20vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(58, 55, 55);
}
.app-item-title{
    color: white;
    text-decoration: none;
}
.home-box{
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.greeting{
    margin:15px 0 50px 100px;
}