#header{ 
    background-color: rgb(152, 187, 187);
    padding: 10px;
    box-shadow: 2px 2px 2px black;
}
#header-flex{
    display: flex;
    justify-content: space-between;
}
.header-button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sign-out-button{
    color: rgb(32, 32, 74);
    border: none;
    background-color: rgb(152, 187, 187);
}